%linkedIn-github-image{
    margin-top: -150px;
}

.section-intro{
    width: 600px;
    h1{
       font-family: 'Bangers', cursive;
       text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    }
}

// .intro{
    
//     background: url(../project_images/blackboard.jpg);
//     background-size: cover;
//     box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
//     border-radius: 20px;

//     h1{
//         color: white;
//     font-family: 'Bangers', cursive;
//     font-size: 50px;
//     }
// }

.my_photo{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.brand{
    width: 75%;
     color: rgb(2, 19, 58);
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.about-me-section{
    // background: url('../project_images/seaglass.jpg');
    // background-size: cover;
    // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
    // border-radius: 20px;
}
.about-me{
    // background: rgba(146, 145, 145, 0.8);
    // border-radius: 20px 20px 0 0;
   margin-left: calc(100% - 800px);
   margin-right: calc(100% - 1200px);
   margin-top: -430px;
}

.linkedIn-image{
     @extend %linkedIn-github-image;
    transform: scale(0.25);
}
.github-image{
    @extend %linkedIn-github-image;
    transform: scale(0.125);
    margin-left: -200px;
}
.linkedIn-image:hover{
    transform: scale(0.30);
    transition: 1s;
}
.github-image:hover{
    transform: scale(0.135);
    transition: 1s;
}



$screen-width: 1500px;
$section-intro-width: 600px;
@mixin media-query($num, $reduce-margin-left) {
    @media screen and (max-width: $screen-width - $num){
   .about-me{
       margin-left: calc(100% - #{$reduce-margin-left});
    //    margin-right: calc(100% - #{$reduce-margin-right})
   }
    }
}

@mixin media-query-mobile($num, $reduce-margin, $reduce-width, $increase-margin) {
    @media screen and (max-width: $screen-width - $num){
        .about-me{
             display: flex;
             flex-direction: column;
             margin-left: calc(100% - #{$reduce-margin});
             margin-top: -430px - $increase-margin;
        }
        .section-intro{
            width: $section-intro-width - $reduce-width;
        }
    }
}
//screen width < 1400px
@include media-query(100, 900px);

//screen width < 1200px
@include media-query(300, 950px);

//screen width < 950px
@include media-query-mobile(550, 480px, 0, 450px);

//screen width < 800px
@include media-query-mobile(700, 550px, 0, 450px);

//screen width < 700px
@include media-query-mobile(800, 600px, 0, 450px);

//screen width < 600px
@include media-query-mobile(900, 650px, 0, 450px);

//screen width < 500px
@include media-query-mobile(1000, 650px, 65, 450px);
//screen width < 375px
@include media-query-mobile(1125, 660px, 70, 450px);


// @media screen and (max-width: $screen-width - 700){
//     .about-me{
//          display: flex;
//          flex-direction: column;
//          margin-left: calc(100% - 550px);
//     }
// }

// @media screen and (max-width: $screen-width - 800){
//     .about-me{
//         margin-left: calc(100% - 600px);
//    }
// }
// @media screen and (max-width: $screen-width - 900){
//     .about-me{
//         margin-left: calc(100% - 650px);
//    }
// }